.jfx-date-picker .input-line {
    -fx-background-color: white;
}
.jfx-date-picker .input-focused-line {
    -fx-background-color: white;
}

.jfx-date-picker > .arrow-button > .jfx-svg-glyph{
    -fx-background-color: white;
}

.jfx-date-picker .jfx-text-field {
    -jfx-unfocus-color: white;
    -fx-text-fill: white;
}

.jfx-time-picker .input-line {
    -fx-background-color: white;
}
.jfx-time-picker .input-focused-line {
    -fx-background-color: white;
}

.jfx-time-picker > .arrow-button > .jfx-svg-glyph{
    -fx-background-color: white;
}

.jfx-time-picker .jfx-text-field {
    -jfx-unfocus-color: white;
    -fx-text-fill: white;
}

.jfx-combo-box > .cell {
    /*-fx-background-color: white;*/
    -fx-text-fill: white;
}

#taskPriority > .cell {
    -fx-text-fill: black;
}